*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(to right, #b82504,#f29021,#b82504);
    height: 400px;;
    padding-top: 20px;
}
header.container{
    max-width: 900px;
    margin: 0 auto;
}
header .katta{
    display: flex;
    justify-content: space-between;
    width: 400px;
    background-color: aliceblue;
    width: 1200px;
    
}
header .katta ul{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 30px;
    margin-left: 180px;
  
}
header h1{
    margin-top: 20px;
}
header ul li a{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-right: 80px;
}
header ul li a:hover{
    color: #b82504;
}
header #bir{
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(203, 202, 202);
    width: 1200px;
    height: 280px;
    padding-top: 10px;
    margin-bottom: 350px;
}
main .container{
    max-width: 900px;
    margin: 0 auto;
   
}
main .katta{
    display: flex;
    justify-content: space-between;
    width: 900px;
   align-items: center;
   

}
main h3{
    color: black;
    font-size: 15px;
    opacity: 0.8;
   padding-bottom: 10px;
   text-align: center;
   
}
main img {
    width: 150px;
    
   
}
main button{
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border:rgb(203, 202, 202);
    margin-top:10px;
}
main .a{
    border-right: 2px solid gray; 
 
}
main .div{
    display: flex;
    padding-top: 30px;
}
main .k{
    width: 600px;
}
main .l{
    width: 350px;
    text-align: center;
    opacity: 0.7;
    
}

main .f{
    display: flex; 
    justify-content: space-between;
    width: 350px;
   
}
main .k, h4 {
    padding-bottom: 10px;
}
main .k, h5{
    padding-bottom: 15px;
} 
main .k, p{
    font-size: 15px;
    opacity: 0.7;
}
main span{
    border-bottom: 2px solid red;
    color: red;
}
main .f img {
    width: 85px;
    height: 85px;
    padding-bottom: 5px ;
}

footer{
    max-width: 1200px;
    margin: 0 auto;
    background-color: darkgrey;
    height: 200px;
      
   }
footer .container{
    max-width: 900px;
    margin: 0 auto;
    margin-left: 170px;
}
footer .katta{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
footer button{
    background-color:aqua;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

